/*SCRIPT PAGE ACCUEIL*/

/*RESPONSIVE*/
@media screen and (min-width: 650px) {
  .headband_background {
    display: flex;
    justify-content: center;
  }
  .header_image {
    width: 1500px;
    height: 700px;
  }

  .headband_navigation--ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: white;
    background-color: rgb(180, 68, 28);
    margin: 0;
  }

  .headband_navigation--ul--li {
    display: flex;
    justify-content: stretch;
  }

  .equipements_photo {
    display: flex;
    justify-content: space-around;
  }

  .partenaires_thanks {
    font-size: 25px;
  }

  .partenaires_thanks--logos {
    display: flex;
    justify-content: space-around;
  }

  .evenements_article--photo {
    display: flex;
    justify-content: space-around;
  }

  .article_title--figure {
    display: flex;
    justify-content: space-around;
  }
}

/*BODY*/
body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
}

/*HEADBAND NAVIGATION*/

.headband_background {
  background-color: black;
  background-size: 100vw;
  margin: 0px;
}

.header_image {
  width: 390px;
  height: 150px;
}

.headband_navigation {
  display: flex;
  padding: 3px;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: black;
}

.headband_navigation--ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 23px;
  color: white;
  background-color: rgb(180, 68, 28);
  margin: 0;
}

.headband_navigation--ul--li {
  padding: 20px;
  width: 300px;
  justify-content: center;
  border-bottom: 0.2vh solid black;
}

/* SCRIPT PAGE NOS PARTENAIRES*/
.partenaires_thanks--logos {
  margin: 14px;
}

.partenaires_thanks--logos--img {
  width: 110px;
  height: 110px;
  margin: 4px;
}

/*REGLAGES COMMUNS ARTICLES*/
.article {
  margin: 10px;
  padding: 5px;
}

.article_title {
  color: black;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  padding: 5px;
  border-bottom: solid brown;
}

.article_title--text {
  text-align: justify;
  margin: 10px;
}

/*PHOTOS EQUIPE*/

.article_title--figure--photo {
  max-width: 170px;
  max-height: 200px;
  margin-left: 100px;
}

/*EQUIPEMENTS*/

.equipements_photo--detail {
  width: 369px;
  margin: 5px;
}

/*EVENEMENTS*/
.article_title--text--date {
  list-style: none;
  font-weight: bold;
}

.article_title--text--date--important {
  color: orangered;
  list-style: none;
}
.evenements_article--photo {
  margin: 70px;
}

/*CONTACTS*/
.google_maps {
  width: 350px;
  height: 350px;
}

figure {
  display: table;
  margin: 3px 3px 3px 3px;
  padding: 3px;
}

figcaption {
  display: table-caption;
  caption-side: top;
  margin-left: 100px;
  padding-left: 48px;
}
