/*RESPONSIVE*/
@media (min-width: 481px) and (max-width: 650px) {
  .headband_background {
    background-image: url(images/headband.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 60px;
    height: 190px;
  }
  .headband_navigation--ul {
    text-align: center;
    margin-right: 0px;
  }
  .article_title--figure--photo {
    margin-left: 0px;
  }
  .article_title--maps {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 650px) {
  .headband_background {
    background-image: url(images/headband.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100px;
    height: 200px;
  }
  .headband_navigation--ul {
    display: flex;
    justify-content: center;
  }
  .article_title--figure--photo {
    margin-left: 0px;
  }
  .article_title--maps {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 870px) {
  .headband_navigation--ul {
    justify-content: left;
  }
  .partenaires_thanks {
    display: flex;
    justify-content: space-around;
  }
}
/*BODY*/
body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
}
/*HEADBAND NAVIGATION*/
.headband_background {
  background-image: url(images/headband.jpg);
  background-repeat: no-repeat;
  background-color: black;
  width: 100vw;
}
.headband_background--image {
  width: 80px;
  margin: 10px;
}
.headband {
  background-image: url(images/headband.jpg);
  background-position: cover;
  background-size: 340px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: 35px;
  background-color: black;
}
.headband_navigation--ul {
  font-size: 23px;
  color: white;
  background-color: rgb(180, 68, 28);
  margin: 0px;
}
.headband_navigation--ul--li {
  padding: 20px;
  list-style: none;
  text-align: center;
  border-bottom: 0.2vh solid black;
}
nav a {
  text-decoration: none;
  color: white;
}
nav :hover {
  color: black;
}
/*REGLAGES COMMUNS ARTICLES*/
.article {
  margin: 10px;
  padding: 5px;
}
.article_title {
  color: black;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  padding: 5px;
  border-bottom: solid brown;
}
.article_title--text {
  text-align: justify;
  margin: 10px;
}
/*PHOTOS EQUIPE*/
.article_title--figure--photo {
  height: auto;
  width: 150px;
  margin-left: 110px;
}
/*EQUIPEMENTS*/
.equipements_photo--detail {
  width: 190px;
  margin-left: 100px;
}
/*EVENEMENTS*/
.article_title--text {
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 25px;
}
.article_title--text--date {
  list-style: none;
}
.article_title--text--date--important {
  color: orangered;
  list-style: none;
}
.evenements_article--photo {
  width: 190px;
  margin-left: 100px;
}
/*NOS PARTENAIRES*/
.partenaires_thanks--logos--img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
/*CONTACTS*/
.google_maps {
  width: 350px;
  height: 350px;
  margin: 20px;
}
/*FOOTER*/
.footer {
  height: 150px;
  width: auto;
  margin-top: 170px;
}
.footer_title {
  text-align: center;
}
.footer_logos {
  display: flex;
  justify-content: center;
}
.footer_logos--reseaux {
  width: 50px;
  margin: 10px;
}
.mentions_legales {
  display: flex;
  justify-content: center;
}
