@media screen and (min-width: 650px) {
  .header_image {
    width: auto;
    height: auto;
  }

  .headband_navigation--ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: white;
    background-color: rgb(180, 68, 28);
    margin: 0;
  }

  .headband_navigation--ul--li {
    display: flex;
    justify-content: stretch;
  }
}

body {
  margin: 0;
}

.header {
  width: auto;
}

.headband_background {
  display: flex;
  justify-content: center;
  background-color: black;
}

.header_image {
  display: flex;
  justify-content: center;
  height: 280px;
  width: auto;
}

.headband_navigation {
  display: flex;
  padding: 3px;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: black;
}

.headband_navigation--ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: "Rajdhani", sans-serif;
  font-size: 23px;
  color: white;
  background-color: rgb(180, 68, 28);
  margin: 0;
}

.headband_navigation--ul--li {
  padding: 20px;
  width: 300px;
  justify-content: center;
  border-bottom: 0.2vh solid black;
}
